body {
    background-color: beige;
}

h1 {
    margin-bottom: 30px;
}

.programme {
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: space-between;
    width: 40%;
    align-items: center;
    margin-left: 25%;
}
ul {
    list-style: none;
    display: block;
}
li {
    height: 40px;
}

.menuSelectable {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    padding-bottom: 90px;
    border: 2px dotted blue;
    margin-bottom: 10px;
    border-radius: 20px;
}
.mount {
    padding: 20px;
    border: 2px dotted blue;
    border-radius: 20px;
}

.select {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
} 
.boutonsPrincipaux {
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin-top: 40px;
    border: 2px dotted blue;
    border-radius: 20px;
}

.subtitle_array {
    padding-left: 0;
}
.subtitle_array label{
    padding-top: 3px;
}

.subtitle_array li input{
    text-align: end;
}

.tableau {
    display: flex;
    flex-direction: row;
}

.subtitle_array {
    text-align:left;
    margin-top: 40px;
}

.lastResult {
    border: 1px solid black;
    border-radius: 20px;
    width: 100%;
    margin-top: 40px;

}
h2 {
    margin-bottom: 40px;
    margin-top: 40px;
}

.lastButtons {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-top: 100px;
}

.boiteCredit {
    margin-top: 50px;
    right: 0;
}